<div class="seccion"><b>Acerca de</b>
    <br clear="right">
    <div id="div-acercade">
        <div class="acercade-1">        
            <a id="contenidoAD-1">Técnico en electrónica y telecomunicaciones, informático, queriendo ingresar al mundo de la programación.</a>
            <div class="btn-edit-sec" id="camb_parrafo_AD" onclick="cambiar_parrafo_AD()" style ="display: none"><a href="#" class="btn-right" aria-label="edit"><i class="fa fa-pen"></i></a></div>                    
            <br clear="right">
            <br clear="right">
        </div> 
    </div>       
</div>
