<div class="seccion"><b>Proyectos</b>
    <div class="btn-edit-sec" onclick="agregar_proy()" style ="display: none"><a href="#" class="btn-right" aria-label="edit"><i class="fas fa-plus"></i></a></div>        
    <br clear="right">
    <br clear="right">
    <div id="div-proyectos">
        <div class="proyectos-1">
            <a id="contenidoProy-1">Ninguno actualmente</a>                    
            <div class="btn-edit-sec" id="elim_parrafo_proy" onclick="eliminar_contenido_Proy()" style ="display: none"><a href="#" class="btn-right" aria-label="edit"><i class="fas fa-trash-alt"></i></a></div>     
            <div class="btn-edit-sec" id="camb_parrafo_proy" onclick="cambiar_parrafo_Proy()" style ="display: none"><a href="#" class="btn-right" aria-label="edit"><i class="fa fa-pen"></i></a></div>               
            <br clear="right">
            <br clear="right">
        </div>
    </div>        
</div> 
<br clear="right">

