<div class="banner">
    <img id="displayed-banner" src="assets/imagenes/img-1_1920.jpg" alt="">
    <label for="input-banner" class="btn-modificar-banner" aria-label="edit-banner" onclick="cambiar_banner()" style ="display: none">
        <a href="#"><i class="fa fa-pen"></i></a>
    </label>
    <input type="file" id="input-banner" accept="image/*" style="display: none">
</div>
<div class="foto-pers">
    <img id="displayed-photo" src="assets/imagenes/Foto-1.jpg" alt="">
    <label for="input-photo" class="btn-modificar-foto-pers" aria-label="edit" onclick="cambiar_PRES()"style="display: none" >
        <a href="#"><i class="fa fa-pen"></i></a>
    </label>
    <input type="file" id="input-photo" accept="image/*" style="display: none">
</div>                      
<aside>                     
    <img class="logoAP" src="assets/imagenes/Logo-Argentina-Programa.png" alt="Logo Arg. Prog." style="float: right;
    margin-top: 5px"> 
    <div class="nombre">            
        <b id="nombre">Alejandro Carnevalini</b>
        <div class="btn-edit-nombre" id="btn-present" onclick="cambiar_parrafo_PRES()" style ="display: none"><a href="#" class="btn-right" aria-label="edit"><i class="fa fa-pen"></i></a></div>
    </div>
    <div>
        <a id="titulo">Full Stack Developer Jr.</a>
        <div class="btn-edit-tit" id="btn-present" onclick="cambiar_parrafo_PRES2()" style ="display: none"><a href="#" class="btn-right" aria-label="edit"><i class="fa fa-pen"></i></a></div>                
    </div>
</aside>
<br clear="right">
<br clear="right">
<br clear="right">
<br clear="right">
