<div class="seccion"><b>Experiencia</b>
    <div class="btn-edit-sec" onclick="agregar_exp()" style ="display: none"><a href="#" class="btn-right" aria-label="edit"><i class="fas fa-plus"></i></a></div>   
    <br clear="right">
    <br clear="right">
    <div id="div-experiencia">
        <div class="experiencia-1">        
            <a id="contenidoEX-1">Técnico reparador electrónica en general y computación desde el año 2002 hasta la actualidad, iniciándome en el mundo de la programación.</a>
            <div class="btn-edit-sec" id="elim_parrafo_EX" onclick="eliminar_contenido_EX()"style ="display: none" ><a href="#" class="btn-right" aria-label="edit"><i class="fas fa-trash-alt"></i></a></div>
            <div class="btn-edit-sec" id="camb_parrafo_EX" onclick="cambiar_parrafo_EX()" style ="display: none"><a href="#" class="btn-right" aria-label="edit"><i class="fa fa-pen"></i></a></div>                    
            <br clear="right">
            <br clear="right">
        </div> 
    </div>       
</div>


