<div class="seccion"><b>Hard & Soft Skills</b>
    <div class="btn-edit-sec" onclick="agregar_skill()" style ="display: none">
    <a href="#" class="btn-right" aria-label="edit">
      <i class="fas fa-plus"></i>
    </a>
    </div>
    <br clear="right">
    <br clear="right">
    <div id="midiv-skills">
        <div class="skills" id="skill-0">
           <p style="font-size: 12px; text-align: center;">
              <b>Velocidad de desarrollo</b>
           </p>
           <aside>
              <div class="btn-edit-sec" data-id="0" onclick="eliminar_skill0()" style ="display: none"><a class="btn-right" href="#" aria-label="edit"><i class="fas fa-trash-alt"></i></a></div>
              <div class="btn-edit-sec" data-id="0" onclick="cambiar_porc0()" style ="display: none"><a class="btn-right" href="#" aria-label="edit"><i class="fa fa-pen"></i></a></div>
           </aside>
           <div id="barra0" style="margin-left: 12%; width: 1000px; height: 22px; border-radius: 10px; border: 1px solid rgb(10, 10, 10);">
             <div id="barra-porc0" style="width: 55%; height: 20px; border-radius: 8px; background-color: rgb(1, 24, 150);"></div>
           </div>
           <br clear="right">
        </div>
        <div class="skills" id="skill-1">
          <p style="font-size: 12px; text-align: center;">
             <b>Resolucion de problemas</b>
          </p>
          <aside>
             <div class="btn-edit-sec" data-id="0" onclick="eliminar_skill1()" style ="display: none" ><a class="btn-right" href="#" aria-label="edit"><i class="fas fa-trash-alt"></i></a></div>
             <div class="btn-edit-sec" data-id="0" onclick="cambiar_porc1()" style ="display: none"><a class="btn-right" href="#" aria-label="edit"><i class="fa fa-pen"></i></a></div>
          </aside>
          <div id="barra1" style="margin-left: 12%; width: 1000px; height: 22px; border-radius: 10px; border: 1px solid rgb(10, 10, 10);">
            <div id="barra-porc1" style="width: 60%; height: 20px; border-radius: 8px; background-color: rgb(1, 24, 150);"></div>
          </div>
          <br clear="right">
       </div>
    </div>
  </div>  
