<nav>        
    <button id="logeo" type="submit"><b>Login</b></button>            
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100081709826310" rel="noopener noreferrer" class="facebook" aria-label="facebook"><i class="fab fa-facebook-f"></i></a>
    <a target="_blank" href="https://twitter.com/CarnevaliniAle" rel="noopener noreferrer" class="twitter"aria-label="twitter"><i class="fab fa-twitter"></i></a>
    <a target="_blank" href="https://www.instagram.com/ale.carnevalini.ok/" rel="noopener noreferrer" class="instagram" aria-label="instagram"><i class="fab fa-instagram"></i></a>    
    <img class="logoAP" src="assets/imagenes/Logo-Argentina-Programa.png" alt="Logo Arg. Prog.">       
  </nav>
  
  <div id="login-button">        
    <div class="overlay" id="overlay">
        <div class="popup" id="popup">
            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup" aria-label="btn-cerrar"><i class="fas fa-times"></i></a>
            <h3>LOGIN</h3>
            <form action="">
                <div class="contenedor-inputs">
                    <input type="text" placeholder="Usuario">
                    <input type="password" placeholder="Contraseña">
                </div>
                <input type="submit" class="btn-submit" value="Ingresar">
            </form>
        </div>
    </div>
  </div>
